<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <script src="{{ url_for('static', filename='scripts/jQuery-3.4.1/jquery-3.4.1.min.js')}}"></script>
        <script src="{{ url_for('static', filename='scripts/popper/popper.min.js')}}"></script>
        <script src="{{ url_for('static', filename='scripts/bootstrap-4.3.1-dist/js/bootstrap.js')}}"></script>
        <script src="{{ url_for('static', filename='scripts/vue/vue.js')}}"></script>
        <script src="{{ url_for('static', filename='script.js')}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap-4.3.1-dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css">


    <title>Dropzone Test</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row mt-4">
            <h1>Welcome to the DMB FLAC Tagger Home Page!</h1>
        </div>
    </div>
</body>
</html>


